 .comingSoonImg img{
   width: 92px;
   margin:  50px;
   margin-top:8%;
 }

.comingSoon{
  font-size: 17px;
  font-family: bBold;
  text-align: center;
}

.comingSoon span{
	margin-right:35px;
}

.alertDownTitle{
  font-family: bMed;
  text-align: center;
  color: rgb(30,125,205);
  font-size: 31px;
  padding:  15px 0px;
}

.alertDownText{
  font-family: bMed;
  text-align: center;
  color: rgb(70%, 70%, 70%);
  font-size: 17px;
  padding-bottom: 15px;
}


.modal-header{
 border-bottom-color: transparent; 
}

  .modal-dialog{
	width:700px;
  }
  
.modal-broken .close span{
  font-size:40pt;
  opacity: 100;
  color: #000;
  
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}