
@font-face {
    font-family: bBold;
    src: url(../fonts/Brandon_bld.otf);
}


@font-face {
    font-family: bMed;
    src: url(../fonts/Brandon_med.otf);
}


@font-face {
    font-family: bReg;
    src: url(../fonts/Brandon_reg.otf);
}

body{
  font-family: bReg;
}

.headTitle{
  font-size: 25px;
}

#currentCity{
  font-size: 16pt;
  color:  rgb(30,125,205);
  border-bottom: 1px dotted;
  font-family: bBold;
  margin-right: 50px;
  margin-top: 5px;
  
}

.header{
  border-bottom: 1px solid #ccc;
}



html,  body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#header {
  padding:10px;
}

#content {
  padding:10px;
  padding-bottom:150px; /* Height of the footer element */
}

#footer {
  border-top: 1px solid #ccc;
  width:100%;
  height:150px;
  position:absolute;
  bottom:0;
  left:0;
}

.footer-ul{
   list-style: outside none; 
  padding: 0px;
 }

.footerTitle{
  font-size: 17pt;
}

.footerBody{
  font-size: 15pt;
  color: rgb(70%, 70%, 70%);
}

.copyrightInfo{
  font-size: 10pt;
  color: rgb(70%, 70%, 70%);
  text-align: center;
}

.footer-ul a{
  font-size: 15pt;
  color:  rgb(77,212,252);
}