.headerG{
}

.headerG>*{
	margin-right: 10px;
}
.headerG .searchBtn{
}

.headerG .searchBtn a{
	color:#fff;
	font-size: 1.5em;
	text-decoration: none;
	padding: 5px;
	background-color:#0670A0;
	
}
.headerG img{
	width:40px;
}

.header3  input[type='text']{
	line-height: 50px;	
	height : 50px;
	width:35%;
	font-size: 1.5em;	
}

.cityDrop{
	min-width:100px;
}

/*** homepage body start  ***/


.homepageBody{
margin-top: 15%;
}

.homepageBody .searchIcon img{	
	position: relative;
	top : -30px;
}

.homepageBody .searchArea input[type='text']{
	line-height: 60px;	
	height : 60px;
	width:100%;
	font-size: 1.67em;	
}
.homepageBody .searchBtn{	
	height:60px;
	background-color:#0670A0;
	
}

.homepageBody .searchBtn a{
	color:#fff;
	font-size: 1.67em;
	text-decoration: none;
	
}

.homepageBody  .radioOptions{
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

.faRed{
	color: red;
}


.homepageBody .searchArea .radioOptions input {
}

.homepageBody  .radioOptions input +label{
	margin: 0px 25px;
	font-size: 1.60em;	
	vertical-align:middle;
}
.homepageBody  .radioOptions input {
	vertical-align:middle;
}


.homepageBody .searchDist{
	font-size:1.60em;
	padding-top: 12px;
	margin-left: 16px;
}


.homepageBody .searchDist .faRed {
	margin-left: 5px;
}


.homepageBody .wid70{
	float:left;
	position:relative;
	width:60%;
}
.homepageBody .wid15{
	float:left;
	position:relative;
	width:15%;
}


.homepageBody .productsCountInfo{
  font-size: 15px;
  padding: 20px 0px;
  color: rgb(70%, 70%, 70%);
  text-align: center;
}


/*** homepage body end  ***/