<header class="container-fluid header">	
	<div class="row-fluid">
		<div class="headTitle pull-left">
			<img src = 'images/gtext.png' />
		</div>
		<div class="cityTitle pull-right">
			<div  class="dropdown" dropdown on-toggle="toggled(open)">
	    		<div id="currentCity" class='blueDotted' dropdown-toggle>{{city|uppercase}}  <span class="caret"></span></div>    
	      		<ul class="dropdown-menu">
	        		<li ng-repeat="c in cities">
	    				<span  class='blueDotted'>{{c|uppercase}}</span>
	    			</li>
	    		</ul>
			</div>			
		</div>
	</div>	
</header>
